<section fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="winner-card">
    <mat-card-title>Winners</mat-card-title>
    <mat-card-content>
      <div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let keys of winnerKeys">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{winnersList[key]?.winner}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider inset="true"></mat-divider>
            <div>
              <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of winnersList[key]?.items">
                <div>
                  {{item?.name}}
                </div>
                <div>
                  {{item?.amount | currency: 'USD': 2}}
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span></span>
                <span>
                  <strong>Total:</strong> {{winnersList[key]?.items | winnerTotal | currency: 'USD': 2}}
                </span>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <button *ngIf="winnersList[key]?.paid" mat-raised-button color="warn" type="button" role="button" (click)="reverseMarkAsPaid(winnersList[key])">Undo Mark Paid</button>
                <button *ngIf="!winnersList[key]?.paid" mat-raised-button color="primary" type="button" role="button" (click)="markAsPaid(winnersList[key])">Mark Paid</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
</section>