<section fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="reset-card" ngClass.lt-md="mobile">
    <mat-card-title>
      Reset password
    </mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="!resettingPassword && !codeMissing">
        <div [formGroup]="passwordFields" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="New Password"/>
            <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="confirm" type="password" placeholder="Confirm"/>
            <mat-error *ngIf="formErrors.confirm">{{formErrors.confirm}}</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="codeMissing">
        <p>
          It looks like something is wrong with the reset link. Try using it again from your email.
        </p>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" type="button" role="button" routerLink="/login">Back to Login</button>
        </div>
      </ng-container>
      <ng-container *ngIf="resettingPassword">
        <div *ngIf="!resetSuccess; else success" fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner diameter="100"></mat-spinner>
        </div>
        <ng-template #success>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="success-icon">
              <mat-icon>check</mat-icon>
            </div>
            <div class="success-message">
              Password Reset!
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" type="button" role="button" routerLink="/login">Back to Login</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </mat-card-content>
    <mat-card-actions *ngIf="!resettingPassword && !codeMissing">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="button" role="button" (click)="resetPassword()" [disabled]="passwordFields.invalid">Save</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>