section.registration-wrapper {
    height: 80vh;
}

.registration-card {
    width: 90%;
    margin: 0 auto;
}

.registration-form {
}

.registration-form mat-form-field {
    width: 100%;
}

/* .registration-form mat-form-field {
    width: 90%;
} */
 
.contact-inputs{
    width: 90%;
}

.name-inputs mat-form-field {
    width: 50%;
}

.signup-error {
    color: #f44336;
}

@media (min-width: 1280px) {
    .registration-card {
        max-width: 30vw;
    }
    
}