<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    Lunafest 2018
  </div>
  <div>
    <button type="button" role="button" mat-icon-button (click)="addNewItem()" matTooltipPosition="below" matTooltip="Add new Item"><mat-icon>playlist_add</mat-icon></button>
    <!-- <button type="button" role="button" mat-button [matMenuTriggerFor]="userMenu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="userMenu">
    </mat-menu> -->
    <button type="button" role="button" mat-button (click)="logout()">
      Logout
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>