<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    Lunafest 2018
  </div>
  <div>
    <ng-container *ngIf="user && user.role === 'admin'">
      <button type="button" role="button" mat-button [matMenuTriggerFor]="userMenu"><mat-icon>security</mat-icon></button>
      <mat-menu #userMenu="matMenu">
        <button role="button" type="button" mat-menu-item><mat-icon>playlist_add</mat-icon> Add new item</button>
        <button role="button" type="button" mat-menu-item><mat-icon>gavel</mat-icon> Manage Auction</button>
        <button role="button" type="button" mat-menu-item><mat-icon>show_chart</mat-icon>View winners</button>
      </mat-menu>
    </ng-container>
    <button type="button" role="button" mat-button (click)="logout()">
      Logout
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>