.login-card {
    width: 90vw;
    margin: 0 auto;
}

.login-form {
    margin-bottom: 10px;
}

.login-actions button {
    width: 90%;
}

.login-actions-secondary {
    width: 90%;
}

.login-form mat-form-field {
    width: 90%;
}

.login-invalid {
    color: #f44336;
    margin-bottom: 20px;
}

@media (min-width: 1280px) {
    .login-card {
        max-width: 30vw;
    }   
}