.edit-item-wrapper {
    margin-top: 10px;
    
}

.edit-item-card {
    max-width: 50%;
    width: 50%;
    min-height: 80vh;
}

.edit-item-card mat-card-content {
    height: 100%;
}

.delete-item {
    margin-bottom: 10px;
}