<section class="edit-item-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="edit-item-card" fxFlex="100">
    <mat-card-title>Edit {{existingItem?.name}}</mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="!savingItem">
        <div class="delete-item" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="warn" (click)="deleteItem()">Delete Item</button>
        </div>
          <dyb-new-item-form *ngIf="existingItem" [existingData]="existingItem" (cancel)="cancel()" (save)="save($event)"></dyb-new-item-form>
      </ng-container>
      <ng-container *ngIf="savingItem">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill *ngIf="!itemSaveComplete">
          <mat-spinner [diameter]="150"></mat-spinner>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill *ngIf="itemSaveComplete">
          <div class="success-icon">
            <mat-icon>check</mat-icon>
          </div>
          <div class="success-message">
            Item saved successfully!
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>