<h4 *ngIf="!bidPlaced" mat-dialog-title>{{item?.name}}</h4>
<mat-dialog-content>
  <div *ngIf="bidPlaced" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div *ngIf="!bidComplete && !showBidConflict" class="bid-complete-progress">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill *ngIf="bidComplete">
      <div class="success-icon">
        <mat-icon >check</mat-icon>
      </div>
      <div class="success-message">
          Bid Placed!
      </div>
      
    </div>
    <div *ngIf="showBidConflict" fxLayout="column" fxLayoutAlign="center center">
      <p>Oh no! It looks like someone outbid you while we were submitting your bid. Bid again?</p>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="button" role="button" mat-raised-button (click)="cancel()">Nevermind</button>
        <button type="button" role="button" mat-raised-button color="primary" (click)="reBid()">Bid again</button>
      </div>
    </div>
  </div>
  <div *ngIf="!bidPlaced && !bidComplete">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px" >
      <div>
        <img [src]="imageSrc" width="100" height="100"/>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexFill>
        <div class="estimated-worth">
            <em>Estimated Worth:</em> <strong>{{item?.estimatedWorth | currency: 'USD': 2}}</strong>
          </div>
        <div class="current-bid" fxLayout="column" fxLayoutAlign="start center">
          <div class="amount">
              <ng-container *ngIf="item?.currentBid">
                  <strong>{{item?.currentBid.amount | currency: 'USD': 2}}</strong>
              </ng-container>
              <ng-container *ngIf="!item?.currentBid">
                  <strong>{{item?.openingBid | currency: 'USD': 2}}</strong>
              </ng-container>
          </div>
          <div>
            <em>Current Bid</em>
          </div>
        </div>
      </div>
    </div>
    <div class="bid-form-wrapper">
      <form [formGroup]="bidForm">
        <div class="quick-bid-title">Quick Bid</div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px">
          <mat-button-toggle color="primary" [checked]="bidToggleValue === value" *ngFor="let value of bidButtonValues; let i = index;" (change)="toggleBidValue(value)" [value]="value">
            ${{value}}
          </mat-button-toggle>
          <mat-button-toggle color="primary" [checked]="bidToggleValue === 'other'" (change)="toggleBidValue('other')" value="other">Other</mat-button-toggle>
        </div>
        <div *ngIf="bidToggleValue === 'other'">
          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput onlyNumber formControlName="bidValue" min="1" type="number" aria-label="Bid Amount" aria-required="true" />
            <mat-hint>Amount should be at least ${{item?.bidFloor}}.</mat-hint>
            <mat-error *ngIf="formErrors.bidValue">
              {{formErrors.bidValue}}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="total-wrapper">
        <ng-container *ngIf="item?.currentBid">
            <strong>Total:</strong> {{(item?.currentBid.amount + bidForm.get("bidValue").value) | currency: "USD": 2}}
        </ng-container>
        <ng-container *ngIf="!item?.currentBid">
            <strong>Total:</strong> {{(item?.openingBid + bidForm.get("bidValue").value) | currency: "USD": 2}}
        </ng-container>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div *ngIf="!bidPlaced" class="actions-wrapper" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="bidForm.invalid" (click)="placeBid()">Place bid</button>
  </div>
</mat-dialog-actions>
