
<h3 mat-dialog-title>New Bid</h3>
<mat-dialog-content>
  <div *ngIf="bidPlaced">
    <div *ngIf="!bidComplete" class="bid-complete-progress">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="bidComplete" class="bid-complete-confirm">
      <mat-icon>check</mat-icon>
      Bid Placed!
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px" *ngIf="!bidPlaced && !bidComplete">
    <div>
      <img [src]="imageSrc" width="100" height="100"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexFill>
      <div>
        {{data?.item?.name}}
      </div>
      <div class="current-bid" fxLayout="column" fxLayoutAlign="start center">
        <div class="amount">
          <strong>{{data?.item?.currentBid.amount | currency: 'USD': 2}}</strong>
        </div>
        <div>
          Current Bid
        </div>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="bidForm">
      <mat-form-field>
        <span matPrefix>$ &nbsp;</span>
        <input matInput onlyNumber formControlName="bidValue" type="number" aria-label="Bid Amount" aria-required="true" />
        <mat-error *ngIf="formErrors.bidValue">
          {{formErrors.bidValue}}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="total-wrapper">
      <strong>Total:</strong> {{(data?.item?.currentBid.amount + bidForm.get("bidValue").value) | currency: "USD": 2}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="placeBid()">Place bid</button>
  </div>
</mat-dialog-actions>
