
<h3 mat-dialog-title>New Bid</h3>
<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
    <div>
      <img [src]="data?.images.pop()"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlexFill>
      <div>
        {{data?.name}}
      </div>
      <div class="current-bid" fxLayout="column" fxLayoutAlign="start center">
        <div class="amount">
          <strong>{{data?.currentBid.amount | currency: 'USD': 2}}</strong>
        </div>
        <div>
          Current Bid
        </div>
      </div>
    </div>
  </div>
  <div>
    <div fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button>$1</button>
          <button mat-raised-button>$5</button>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button>$10</button>
        <button mat-raised-button>Other</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
