.current-bid {
    font-size: .8rem;
}

.current-bid .amount {
    font-size: 1.2rem;
    color: #178218;
}

mat-dialog-content {
    height: 75%;
}

.actions-wrapper {
    width: 100%;
}

.total-wrapper {
    margin-top: 2px;
    font-size: 1rem;
}