.item-status-label {
    margin-top: 2px;
    padding: 2px;
    width: 78px;
    text-align: center;
    font-size: 0.7rem;
}
.winning-item {
    background: #178218;
    color: #FFFFFF;
}

.current-bid .amount {
    font-size: 1.2rem;
    color: #178218;
}

.status-label {
    width: 100%;
}

mat-card img {
    height: 20%;
    max-height: 250px;
}

mat-card.item-card {
    min-width: 270px;
}


.losing-item {
    background: #D90B0B;
    color: #FFFFFF;
}

.my-bids-wrapper {
    height: 100%;
    margin-top: 5px;
}

.my-bids-wrapper.mobile {
    background: #FFFFFF;;
}

mat-list-item.dyb-list-item.my-bids-list-item {
    height: 70px;
}
