.current-bid {
    font-size: .8rem;
}

.current-bid .amount {
    font-size: 1.2rem;
    color: #178218;
}

.filter-information {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
}

.filter-info-text {
    padding: 2px;
}

.estimated-worth {
    font-size: .8rem;
}

.item-name {
    font-size: 1.2rem;
    word-wrap: break-word;
}

.item-name.big-name {
    font-size: .8rem;
}

.estimated-worth {
    font-size: .8rem;
}

.item-list-wrapper {
    margin: 15px 10px;
    position: relative;
}

.item-list-wrapper.mobile mat-card {
    margin-bottom: 15px;
}

// .item-list-wrapper mat-card.item-card .mat-card-content {
//     width: 70%;
// }

.item-list-wrapper mat-card img {
    height: 20%;
    max-height: 250px;
}

.item-more-info {
    margin-top: 10px;
}

.item-description {
    margin-top: 5px;
}

.item-list-item {
    position: relative;
    min-height: 417.5px;
    max-height: 417.5px;
}


.item-list-item.opened {
    max-height: none;
    margin-bottom: 5px;
}

.item-list-item.mobile mat-card.mat-card.item-card {
    min-width: 270px;
    max-width: 270px;
}

.item-list-item .item-edit-button {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 100;
}

.gallery-wrapper, .item-description, .donor-info {
    margin-bottom: 15px;
}

.categories-wrapper {
    padding-top: 5px;
}

.category-chip {
    margin: 2px;
}

.filter-trigger {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 101;
}