.current-bid {
    font-size: .8rem;
}

.current-bid .amount {
    font-size: 1.2rem;
    color: #178218;
}

.filter-information {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
}

.filter-info-text {
    padding: 2px;
}

.estimated-worth {
    font-size: .8rem;
}

.item-name {
    font-size: 1.2rem;
}

.estimated-worth {
    font-size: .8rem;
}

.item-list-wrapper {
    margin: 15px 10px;
    position: relative;
}

.item-list-wrapper mat-card {
    margin-bottom: 15px;
}

.item-list-wrapper mat-card img {
    height: 20%;
    max-height: 250px;
}

.item-more-info {
    margin-top: 10px;
}

.item-description {
    margin-top: 5px;
}

.item-list-item {
    position: relative;
    max-height: 417.5px;
}

.item-list-item.mobile mat-card.item-card {
    min-width: 270px;
}

.item-list-item .item-edit-button {
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 100;
}

.gallery-wrapper {
    margin-bottom: 15px;
}

.filter-trigger {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 101;
}