<section class="item-list-wrapper">
  <mat-card *ngFor="let item of itemList; let i = index">
    <!-- <mat-card-header>
      <mat-card-title>
        {{item?.name}}
      </mat-card-title>
    </mat-card-header> -->
    <img mat-card-image [src]="item.images[0].source">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- <div fxFlex="49" class="item-description">
          {{item?.description}}
        </div> -->
        <!-- <div class="estimated-worth" fxLayout="column" fxLayoutAlign="center start">
          <div class="worth">
              {{ item?.estimatedValue | currency: 'USD': 2}}
          </div>
          <div>
              Estimated Worth
          </div>
        </div> -->
        <div fxLayout="column" fxLayoutAlign="start start">
          <div class="item-name">
            <strong>{{item?.name}}</strong>
          </div>
          <div class="estimated-worth">
            <em>Estimated Worth:</em> <strong>{{item?.currentBid.amount | currency: 'USD': 2}}</strong>
          </div>
        </div>
        <div class="current-bid" fxLayout="column" fxLayoutAlign="start end">
          <div class="amount">
            <strong>{{item?.currentBid.amount | currency: 'USD': 2}}</strong>
          </div>
          <div>
            Current Bid
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="placeBid(i)">
        Place Bid
      </button>
    </mat-card-actions>
  </mat-card>
</section>