<div class="filter-information" *ngIf="filterCategories !== null && filterCategories.length > 0 " fxLayout="row" fxLayoutAlign="space-between">
  <div class="filter-info-text" fxLayout="column" fxLayoutAlign="center center">Showing {{filteredListingLength}} out of {{itemInfoToggles.length}} items</div>
  <span></span>
  <button mat-button (click)="clearFilters()">Clear Filters</button>
  
</div>
<section class="item-list-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayout.lg="row" fxLayout.md="row" fxLayoutWrap.lg fxLayoutWrap.md fxLayoutGap.md="10px" fxLayoutGap.lg="5px">
  <div fxFlex.lg="30" fxFlex.md="45" fxFlex="90" class="item-list-item" ngClass.sm="mobile" ngClass.xs="mobile"  *ngFor="let item of itemList | async | categories: filterCategories | itemOrder; let i = index">
    <button *ngIf="currentUser && currentUser.role === 'admin'" mat-mini-fab color="accent" class="item-edit-button" matTooltip="Edit Item" matTooltipPosition="left" (click)="editItem(item)"><mat-icon>edit</mat-icon></button>
    <mat-card class="item-card">
      <img mat-card-image [src]="item?.images[itemImageSelections[i]]">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div class="item-name">
              <strong>{{item?.name}}</strong>
            </div>
            <div class="estimated-worth">
              <em>Estimated Worth:</em> <strong>{{item?.estimatedWorth | currency: 'USD': 2}}</strong>
            </div>
          </div>
          <div class="current-bid" fxLayout="column" fxLayoutAlign="start end">
            <div class="amount">
              <ng-container *ngIf="item?.currentBid">
                  <strong>{{item?.currentBid.amount | currency: 'USD': 2}}</strong>
              </ng-container>
              <ng-container *ngIf="!item?.currentBid">
                  <strong>{{item?.openingBid | currency: 'USD': 2}}</strong>
              </ng-container>
            </div>
            <div>
              Current Bid
            </div>
          </div>
        </div>
        <div class="item-more-info" *ngIf="itemInfoToggles[i]">
          <mat-divider [inset]="true"></mat-divider>
          <div class="gallery-wrapper" *ngIf="item?.images.length > 1">
            <h4>More images</h4>
            <dyb-item-card-gallery [images]="item?.images" (selected)="changeImageSource($event, i)"></dyb-item-card-gallery>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="item-description">
              {{item?.description}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="toggleDescription(i)">
          Item Info
        </button>
        <button mat-raised-button color="primary" (click)="placeBid(item)">
          Place Bid
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <button class="filter-trigger" color="accent" mat-fab type="button" role="button" (click)="openFilterDialog()"><mat-icon>filter_list</mat-icon></button>
</section>