<section fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="forgot-password-card">
    <mat-card-title>
      Forgot Password
    </mat-card-title>
    <mat-card-content>
      <p>
        We'll send you an email with instructions on how to reset your password.
      </p>
      <mat-form-field>
        <input matInput [formControl]="forgotPasswordEmail" placeholder="Email" type="email"/>
        <mat-hint>Enter the email you used to register.</mat-hint>
        <mat-error *ngIf="forgotPasswordEmail.hasError('required')">Required.</mat-error>
        <mat-error *ngIf="forgotPasswordEmail.hasError('email')">Invalid email.</mat-error>
        <mat-error *ngIf="forgotPasswordEmail.hasError('noUserFound')">There is no user registered with this email.</mat-error>
      </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <button mat-raised-button role="button" type="button" routerLink="/login">Back</button>
        <button mat-raised-button color="primary" role="button" type="button" [disabled]="forgotPasswordEmail.invalid && checkingEmail" (click)="reset()">Reset</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>