<section fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="forgot-password-card" ngClass.lt-md="mobile">
    <mat-card-title>
      Forgot Password
    </mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="!sendingReset; else emailSending">
        <p>
          We'll send you an email with instructions on how to reset your password.
        </p>
        <mat-form-field>
          <input matInput [formControl]="forgotPasswordEmail" placeholder="Email" type="email"/>
          <mat-hint>Enter the email you used to register.</mat-hint>
          <mat-error *ngIf="forgotPasswordEmail.hasError('required')">Required.</mat-error>
          <mat-error *ngIf="forgotPasswordEmail.hasError('email')">Invalid email.</mat-error>
          <mat-error *ngIf="forgotPasswordEmail.hasError('noUserFound')">There is no user registered with this email.</mat-error>
          <mat-error *ngIf="forgotPasswordEmail.hasError('unknown')">Something went wrong trying to reset send your email. Please wait a moment and try again.</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-template #emailSending>
        <ng-container *ngIf="!resetSent; else emailSent">
          <div  fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner diameter="100"></mat-spinner>
          </div>
        </ng-container>
        <ng-template #emailSent>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="success-icon">
              <mat-icon>check</mat-icon>
            </div>
            <div class="success-message">
              Email sent!
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" type="button" role="button" routerLink="/login">Back to Login</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-template>
      
    </mat-card-content>
    <mat-card-actions *ngIf="!sendingReset">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <button mat-raised-button role="button" type="button" routerLink="/login">Back</button>
        <button mat-raised-button color="primary" role="button" type="button" [disabled]="forgotPasswordEmail.invalid && checkingEmail" (click)="reset()">Reset</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>