@import "~@angular/material/theming";

@include mat-core();


$dyb-primary: mat-palette($mat-light-blue);
$dyb-accent: mat-palette($mat-orange, 600);

$dyb-warn: mat-palette($mat-red);

$dyb-theme: mat-light-theme($dyb-primary, $dyb-accent, $dyb-warn);

@include angular-material-theme($dyb-theme);